/* Document that determines the look of the webpages */

/* for the log in page, goal: simple and easy to read*/
#login_page{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    color:black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/* main page for blog */
#blog_main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    color:black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}